.App {
  width: 80vw;
  margin: 0px auto;
}
.toolbar {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  place-items: center;
}

.slider-container {
  position: relative;
  width: 100%;
  padding: 0 5px;
}